@font-face {
  font-family: 'Gnuolane Free Cyrillic';
  src: url("/fonts/GnuolaneFreeCyrillic.eot");
  src: url("/fonts/GnuolaneFreeCyrillic.eot?#iefix") format("embedded-opentype"), url("/fonts/GnuolaneFreeCyrillic.woff") format("woff"), url("/fonts/GnuolaneFreeCyrillic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Gnuolane Free Cyrillic", Helvetica, sans-serif;
  color: black;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 79px;
}

.header__container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1160px) {
  .header__container {
    width: 98%;
  }
}

@media (max-width: 650px) {
  .header__container {
    width: 90%;
  }
}

.header__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  width: 130px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.header__menu-item:hover {
  text-decoration: underline;
}

.header__menu-item:active {
  background-color: white;
}

@media (max-width: 768px) {
  .header__menu-item {
    width: 100px;
  }
}

.header__menu-item--active {
  font-size: 30px;
  line-height: 45px;
}

.header__menu-item--active:hover {
  text-decoration: none;
}

@media (max-width: 650px) {
  .header__menu {
    display: none;
  }
}

.header__burger {
  height: 100%;
  width: 50px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__burger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 140px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  -webkit-transition: right .2s ease-out;
  transition: right .2s ease-out;
}

.header__burger-menu-logo {
  width: 80%;
  margin-top: 100px;
}

.header__burger-menu--hide {
  right: -145px;
}

.modal-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9000;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  height: 100vh;
  overflow-y: hidden;
}

.modal-cover--hide {
  position: absolute;
  top: -50px;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.modal-cover__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.modal-dialog {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  right: 5vw;
  width: 80vw;
  max-width: 1200px;
  background-color: white;
  -webkit-transition: right .2s ease-out;
  transition: right .2s ease-out;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-dialog__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal-dialog__content {
  height: calc( 100% - 70px);
  overflow: auto;
}

.modal-dialog--hide {
  right: -105vw;
}

@media (max-width: 650px) {
  .modal-dialog {
    top: 2vh;
    width: 90vw;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-dialog__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-dialog__close img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-slider__slide {
  height: 100%;
}

.main-text {
  width: 100%;
}

.main-text__container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  border: 1px solid rgba(196, 196, 196, 0.51);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 64px;
  padding-left: 115px;
  padding-right: 110px;
  padding-bottom: 95px;
  position: relative;
  top: -250px;
  margin-bottom: -250px;
}

@media (max-width: 1160px) {
  .main-text__container {
    width: 98%;
  }
}

@media (max-width: 650px) {
  .main-text__container {
    width: 90%;
  }
}

.main-text__container p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 25px;
}

@media (max-width: 1160px) {
  .main-text__container {
    top: -20vh;
    margin-bottom: -20vh;
  }
}

@media (max-width: 768px) {
  .main-text__container {
    top: -10vh;
    margin-bottom: -10vh;
  }
}

@media (max-width: 650px) {
  .main-text__container {
    top: 0;
    margin-bottom: 0;
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 15px;
  }
}

.main-text__quote {
  position: absolute;
  top: 64px;
  left: 48px;
}

@media (max-width: 650px) {
  .main-text__quote {
    top: 64px;
    left: 8px;
  }
}

.paints {
  width: 100%;
  margin-top: 80px;
}

.paints__container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

@media (max-width: 1160px) {
  .paints__container {
    width: 98%;
  }
}

@media (max-width: 650px) {
  .paints__container {
    width: 90%;
  }
}

.paints__cell {
  width: 45%;
}

@media (max-width: 768px) {
  .paints__cell {
    width: 100%;
  }
}

.paints__more {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  color: #4F4F4F;
}

.paints__more:hover {
  color: black;
}

.paint {
  width: 100%;
  margin-bottom: 80px;
  height: 490px;
  position: relative;
}

@media (max-width: 650px) {
  .paint {
    margin-bottom: 40px;
    height: 375px;
  }
}

.paint__image-container {
  width: 100%;
  height: 397px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paint__image-container img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 650px) {
  .paint__image-container {
    padding: 10px;
    height: 297px;
  }
}

.paint__author {
  position: absolute;
  left: 0;
  bottom: 40px;
  font-size: 25px;
  line-height: 31px;
}

@media (max-width: 650px) {
  .paint__author {
    bottom: 30px;
  }
}

.paint__title {
  position: absolute;
  left: 0;
  bottom: 0px;
  font-size: 20px;
  line-height: 25px;
}

.paint__button {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 163px;
  height: 48px;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 25px;
}

.paint__button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 650px) {
  .paint__button {
    width: 133px;
  }
}

.authors {
  width: 100%;
}

.authors__container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

@media (max-width: 1160px) {
  .authors__container {
    width: 98%;
  }
}

@media (max-width: 650px) {
  .authors__container {
    width: 90%;
  }
}

.authors__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authors__card {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authors__card img {
  width: 100%;
}

.authors__card--2 {
  width: 47%;
}

.authors__card-name {
  font-size: 25px;
  line-height: 31px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 75px;
  text-align: center;
}

@media (max-width: 650px) {
  .authors__card-name {
    font-size: 15px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 30px;
  }
}

.modal-paint {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 40px;
}

.modal-paint__image {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-paint__image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 650px) {
  .modal-paint__image {
    width: 100%;
  }
}

.modal-paint__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 650px) {
  .modal-paint__data {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal-paint__title {
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 16px;
}

@media (max-width: 650px) {
  .modal-paint__title {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.modal-paint__author {
  font-size: 25px;
  line-height: 31px;
  margin-bottom: 34px;
}

.modal-paint__author:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .modal-paint__author {
    margin-bottom: 15px;
  }
}

.modal-paint__text {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

@media (max-width: 650px) {
  .modal-paint__text {
    margin-bottom: 5px;
  }
}

.modal-paint__more {
  font-size: 25px;
  line-height: 31px;
  text-align: center;
}

.modal-author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 40px;
}

.modal-author__image {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-author__image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 650px) {
  .modal-author__image {
    width: 100%;
  }
}

.modal-author__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 650px) {
  .modal-author__data {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.modal-author__name {
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 27px;
}

.modal-author__text {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.modal-author__history {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

@media (max-width: 1160px) {
  .container {
    width: 98%;
  }
}

@media (max-width: 650px) {
  .container {
    width: 90%;
  }
}

.atricle-author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 40px;
}

.atricle-author__image img {
  max-width: 100%;
  height: auto;
}

.atricle-author__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 75px;
  padding-right: 75px;
}

@media (max-width: 768px) {
  .atricle-author__data {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.atricle-author__name {
  font-size: 25px;
  line-height: 132.9%;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.atricle-author__description {
  font-size: 16px;
  line-height: 132.9%;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.article-title {
  font-size: 35px;
  line-height: 132.9%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.article-double {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .article-double {
    margin-left: 0%;
  }
}

.article-double__part {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  margin-bottom: 40px;
}

.article-double__part p {
  font-size: 18px;
  line-height: 132.9%;
  letter-spacing: 0.03em;
  color: #4F4F4F;
}

@media (max-width: 650px) {
  .article-double__part {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.article-single {
  margin-left: 10%;
  font-size: 25px;
  line-height: 132.9%;
  text-align: right;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .article-single {
    margin-left: 0%;
  }
}

.article-single__quote {
  float: left;
  margin-right: 20px;
}

.horizontal-divider {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
  margin-bottom: 60px;
  margin-top: 60px;
  height: 0;
}

@media (max-width: 650px) {
  .horizontal-divider {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 40px;
}

.contact__map {
  width: 60%;
  height: 563px;
}

@media (max-width: 768px) {
  .contact__map {
    width: 100%;
  }
}

.contact__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .contact__data {
    padding-left: 75px;
    padding-bottom: 40px;
  }
}

.contact__title {
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.contact__text {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 24px;
}
/*# sourceMappingURL=index.css.map */